[user]
	email = {{ .email }} 
	name = Carlos Domani
[alias]
  undo = reset --soft HEAD^
  stash-all = stash save --include-untracked
  branches = branch -a
  remotes = remote -v
[core]
	editor = nvim
	autocrlf = input
[help]
	autocorrect = 20
[init]
	defaultBranch = main
[fetch]
	prune = true
[push]
	default = simple
  followTags = true
[merge]
  conflictstyle = diff3
